@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&family=Rock+Salt&display=swap');
body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    background-color: #fefae0;
    font-family: Roboto;
    font-size: 22px;
}
header {
    background-color: #606c38;
}
#logo_link {
    padding-top: 5px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color: #606c38;
    color:#ffffff;
}
.home-title {
    background-color:  #fefae0;
    color: #000000;
    font-family: Rock Salt;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    background-color: #fefae0;
    color: #000000;
}
.book, .join {
    background-color:  #606c38;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join.hover  {
    background-color: #bc6c25;
    color: #000000;
}
#background {
    height: 725px;
    background-color: #dda15e;
    margin-top: 200px;
    margin-bottom: 200px;
}
#mountain {
    margin-bottom: 200px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.msg {
    background-color: #dda15e;
    padding: 35px;
}
.msg h1 {
    background-color: #dda15e;
}
.msg h2 {
    background-color: #dda15e;
    color: #000000;
    font-family: Oswald;
}
.msg p {
    background-color: #dda15e;
    color: #000000;
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
.card-img {
    background: #bc6c25;
    padding: 10px;
    border: 10px soild #000000;
}
.main section img {
    box-sizing: border-box;
}
footer  {
    background-color:  #606c38;
    color: #ffffff;
    margin-top: 200px;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}
footer a:hover {
    background-color: #606c38;
    color: #000000;
}
footer p {
    font-size: 1.2em; 
}
footer p a:hover {
    text-decoration: underline;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
.rivers-card, .camping-card, .rapids-card {
    margin-top: 200px;
}