body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fefae0;
    font-size: 22px;
}
header {
    background-color: #606c38;
}
nav a {
    color: #606c38;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #606c38;
    color:#ffffff;
}
.home-title {
    background-color:  #fefae0;
    color: #000000;
}
h4 {
    background-color: #fefae0;
    color: #000000;
}
.book, .join {
    background-color: #606c38;
    color: #bc6c25;
    text-decoration: none;
}
.book:hover, .join.hover  {
    background-color: #bc6c25;
    color: #000000;
}
#background {
    height: 725px;
    background-color: #fefae0;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.msg {
    background-color: #dda15e;
}
.msg h1 {
    background-color: #dda15e;
}
.msg h2 {
    background-color: #dda15e;
    color: #000000;
}
.msg p {
    background-color: #dda15e;
    color: #000000;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
footer  {
    background-color: #606c38;
    color: #000000;
}
footer a {
    color: #606c38;
    text-decoration: none;
}
footer a:hover {
    background-color: #606c38;
    color: #000000;
}
footer p {
    font-size: 1.2em; 
}
footer p a:hover {
    text-decoration: underline;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}